################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JewelShopLibrary/bin/Debug
/JewelShopLibrary/obj/Debug
